   <ion-view view-title="Shelby Cobra" hide-nav-bar="true">

   <ion-header-bar class="bar bar-header bar-assertive">
        <h1 class="title">Shelby Cobra</h1>
        <button class="button ion-ios-information-outline button-clear"></button>
      </ion-header-bar>


      <ion-content>
        <div class="card">
          <div class="item item-divider">
          Descubre tu Coche
          </div
           <div class="item item-divider">
           <img src="img/img_home.jpg" class="full-image"> 
          </div>
          <div class="item item-text-wrap">
            Lorem ipsum dolor sit amet, consectetur adipscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diaññññññññaááám. 
            <br/>
            <br/>
            Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla.
            <br/>
            <br/>
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. 
        </div>
      </ion-content>

  </ion-view>