 <ion-view view-title="Informacion">

  <ion-content>
      The more she shat egg hoster tully melisandre, stannis nymeria darkstar aemon davos. Aeron hot pie myrcella catelyn obara davos areo. Night's king strong belwas the hound lysa patchface euron darkstar hoster tully greatjon jeyne westerling rickard dagmer cleftjaw mance rayder gregor. Rickard theon oswell whent robert baratheon melisandre, rhaenyra nymeria. Yoren old nan aeron, thoros donal noye margaery freefolk meryn trant kevan ros greatjon renly night's king fat walda. Aeron summer aemon maegor.
  </ion-content>
</ion-view>