 
<ion-tabs class="tabs-striped tabs-icon-top tabs-color-stable tabs-background-dark">

  <ion-tab hidden="true">
    <ion-nav-view name="tab-home">
    </ion-nav-view>
  </ion-tab>

  <ion-tab title="Mis Coches" icon="ion-model-s" href="#/tab/coche">
    <ion-nav-view name="tab-coche">
    </ion-nav-view>
  </ion-tab>

  <ion-tab title="Comunidad" icon="ion-ios-people" href="#/tab/comunidad">
      <ion-nav-view name="tab-comunidad">
    </ion-nav-view>
  </ion-tab>

  <ion-tab title="Mis Datos" icon="ion-person" href="#/tab/datos">
      <ion-nav-view name="tab-datos">
    </ion-nav-view>
  </ion-tab>

  <ion-tab hidden="true">
    <ion-nav-view name="info">
    </ion-nav-view>
  </ion-tab>

  <ion-tab hidden="true" href="#/tab/user">
      <ion-nav-view name="tab-user">
    </ion-nav-view>
  </ion-tab>

</ion-tabs>
